useDynLib(nnDiag)
export(aoiMaker)
export(arealBias)
export(bias)
export(categorical)
export(extrap)
export(grouper)
export(knnvarfun)
export(outInflu)
export(rmse)
export(scedast)

S3method(print, nnDcat)
S3method(print, nnDgrps)
S3method(plot, nnDsced)
S3method(plot, nnDoi)
S3method(plot, nnDbias)
S3method(plot, nnDaoi)
S3method(plot, nnDarbias)
S3method(plot, nnDext)
