export(bias)
export(categorical)
export(grouper)
export(outInflu)
export(rmse)
export(scedast)

S3method(print, nnDcat)
S3method(print, nnDgrps)
S3method(print, nnDoi)
S3method(print, nnDbias)
S3method(plot, nnDsced)
S3method(plot, nnDoi)
S3method(plot, nnDbias)
